<div class="container">
    <h1>{{title}}</h1>
    
    <div class="block_info">
        <p class="info"><i>B</i></p>
        <hr color="#CDA63C" width="5px">
        <p class="info_txt">
            <b>William Henry Gates</b> III (born October 28, 1955) is an American business magnate, investor, and
            philanthropist. He is best known for co-founding software giant Microsoft, along with his late childhood
            friend Paul Allen.[2][3] During his career at Microsoft, Gates held the positions of chairman, chief
            executive officer (CEO), president and chief software architect, while also being its largest individual
            shareholder until May 2014.[4] He was a major entrepreneur of the microcomputer revolution of the 1970s
            and 1980s.
            Gates was born and raised in Seattle. In 1975, he and Allen founded Microsoft in Albuquerque, New
            Mexico. It became the world's largest personal computer software company.[5][a] Gates led the company as
            chairman and CEO until stepping down as CEO in January 2000, succeeded by Steve Ballmer, but he remained
            chairman of the board of directors and became chief software architect.[8] During the late 1990s, he was
            criticized for his business tactics, which have been considered anti-competitive. This opinion has been
            upheld by numerous court rulings.[9] In June 2008, Gates transitioned to a part-time role at Microsoft
            and full-time work at the Bill & Melinda Gates Foundation, the private charitable foundation he and his
            then-wife Melinda established in 2000.[10] He stepped down as chairman of the board of Microsoft in
            February 2014 and assumed a new post as technology adviser to support the newly appointed CEO Satya
            Nadella.[11] In March 2020, Gates left his board positions at Microsoft and Berkshire Hathaway to focus
            on his philanthropic efforts on climate change, global health and development, and education.
        </p>
        <img src="assets\bill.jpeg" alt="" height="500px" width="380px" class="img_bill">
    </div>

    <hr color="#CDA63C" width="50%">

    <div class="block_quote">
        <h1>{{quotes}}</h1>
        <p class="quotes"><q><i>Patience is a key element of success</i></q> </p>
        <p class="quotes"><q> <i>If you think your teacher is tough, wait till you get a boss</i></q> </p>
        <p class="quotes"><q> <i>Life is not fair — get used to it!</i></q></p>
        <p class="quotes"><q><i>Success is a lousy teacher. It seduces smart people into
                    thinking they can’t lose</i></q></p>
        <p class="quotes"><q><i>Be nice to nerds. Chances are you’ll end up working for one</i></q></p>
    </div>

    <footer class="footer">
        <ul class="footer_list">
            <li><a href="https://en.wikipedia.org/wiki/Bill_Gates">More info...</a></li>
            <li><a href="https://www.gatesfoundation.org/">Bill & Melinda Gates <i>foundation</i></a></li>
            <li><a href="https://www.gatesnotes.com/">Gates Notes</a></li>
            <li><a href="https://twitter.com/billgates"><img src="assets\icon-twi.png" alt=""></a></li>
        </ul>
    </footer>
</div>